@font-face {
    font-family: 'harry';
    src: url('../fonts/harry_p/harryp__-webfont.woff2') format('woff2'),
         url('../fonts/harry_p/harryp__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Inconsolata', monospace;
    font-size: 1em;
    background-color: rgb(36, 35, 35);
    color: antiquewhite;
    text-align: center;
}

h1 {
    font-size: 42px;
    padding: 20px;
    font-family: 'harry';
}

h2 {
    color: black;
    font-size: 28px;
    padding: 20px;
}
button {
    background-color: blueviolet;
    color: antiquewhite;
    border: 1px solid #70389e;
    font-size: 20px;
    font-family: 'Inconsolata', monospace;
    height: 45px;
}

button:hover{
    background-color: aquamarine;
    color: black;
    cursor: pointer;
}

main {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 80%;
    height: 70vh;
    margin: 0 auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.534);
}

div{
    text-align: center;
    padding: 8px;
}

footer {
    color: #fff;
    text-align: center;
    margin: 40px;
}

a {
    text-decoration: none;
    color: blueviolet;
}

a:hover {
    background-color: aqua;
}

@media (min-width: 1281px) {
    main {
        max-width: 60%;
    }
}